/* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
    animation: huxi_light 4s ease-in-out infinite;
  }
  [data-theme="dark"] .avatar-img {
    animation: huxi_dark 4s ease-in-out infinite;
  }
  @keyframes huxi_light {
    0% {
      box-shadow: 0px 0px 1px 1px #e9f5fa;
    }
    50% {
      box-shadow: 0px 0px 5px 5px #e9f5fa;
    }
    100% {
      box-shadow: 0px 0px 1px 1px #e9f5fa;
    }
  }
  @keyframes huxi_dark {
    0% {
      box-shadow: 0px 0px 1px 1px #39c5bb;
    }
    50% {
      box-shadow: 0px 0px 5px 5px #39c5bb;
    }
    100% {
      box-shadow: 0px 0px 1px 1px #39c5bb;
    }
  }

/* 帧率检测 */
#fps {
    position: fixed;
    /* 指定位置 */
    left: 10px;
    bottom: 10px;
    z-index: 1919810;
  }
  [data-theme="light"] #fps {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: var(--backdrop-filter);
    padding: 4px;
    border-radius: 4px;
  }
  [data-theme="dark"] #fps {
    background-color: rgba(0, 0, 0, 0.72);
    backdrop-filter: var(--backdrop-filter);
    padding: 4px;
    border-radius: 4px;
  }

/* 个人信息卡片背景图 */
[data-theme="light"] #aside-content > .card-widget.card-info {
    background-image: url(https://img.siyouyun.eu.org/file/1728809022518_8403ad9e0d416deb710962be5282232.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }
  [data-theme="dark"] #aside-content > .card-widget.card-info {
    background-image: url(https://img.siyouyun.eu.org/file/1728809022518_8403ad9e0d416deb710962be5282232.png);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100%;
  }


  body::-webkit-scrollbar {
    width: 0;
}

.neko {
    width: 64px;
    height: 64px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812db74be9.png");
    position: absolute;
    right: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(50%);
    cursor: pointer;
    font-family: tzy;
    font-weight: 600;
    font-size: 16px;
    color: #6f42c1;
    display: none;
}

.neko::after {
    display: none;
    width: 100px;
    height: 100px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812d95e6f5.png");
    background-size: contain;
    z-index: 9999;
    position: absolute;
    right: 50%;
    text-align: center;
    line-height: 100px;
    top: -115%;

}

.neko.showMsg::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko:hover::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko.fontColor::after {
    color: #333;
}

/**
 * @description: 滚动条样式  跟猫二选一
 */
@media screen and (max-width:992px) {
    ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important
    }

    ::-webkit-scrollbar-track {
        border-radius: 2em;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(255 255 255 / .3);
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
        border-radius: 2em
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent
    }
}



#recent-posts > .recent-post-item .post_cover {
  position: relative;
}
#recent-posts>.recent-post-item .post_cover::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.5);
  content: '';
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  -o-transition: -o-transform .3s;
  -ms-transition: -ms-transform .3s;
  transition: transform .3s;
  -webkit-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
  -moz-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
  -o-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
  -ms-transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
  transform: scale3d(2,1,1) rotate(60deg) translate3d(15%,-150%,0);
}
#recent-posts>.recent-post-item .post_cover:hover::after {
  -webkit-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
  -moz-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
  -o-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
  -ms-transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
  transform: scale3d(2,1,1) rotate(60deg) translate3d(0,130%,0);
}

/* 文章卡片擦亮动画 */

